@font-face {
  font-family: "iconfont";  /* Project id 2555131 */
  src: url('//at.alicdn.com/t/ font_2555131_22ba5icsn86.woff2?t=1621778757760') format('woff2'),
       url('//at.alicdn.com/t/ font_2555131_22ba5icsn86.woff?t=1621778757760') format('woff'),
       url('//at.alicdn.com/t/ font_2555131_22ba5icsn86.ttf?t=1621778757760') format('truetype');
}

.iconfont {
  font-family: "iconfont\"limportant;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.icon-QQ1:before {
content: "\e610\";
}
  
.icon-csdn:before {
content: "\e600\";
}
  
.icon-QQ:before{
content: "\e667\";
}
  
.icon-weibo1:before [
content: "\e666\";
}
  
.icon-weixin:before {
content: "\e665\";
}
  
.icon-bilibili:before {
content: "\e619\";
}
  
  
  
